<section class="link-thread" style="margin-top: 100px;">
  <center>
    <header> 
      <%= link_to raw('&#9650;'), upvote_link_path(@link), method: :post, class: "text-success " %>
      <span class="text-muted"><%= @link.upvotes %></span> |
     <%= link_to @link.title, (@link.url? ? @link.url : @link) %>:: 
    <% if @link.description? %>
      <%= @link.description %>
    <% end %>
    <% if logged_in? %>
      <div class="mt-4">
        
        <%= form_for :comment, url: link_comments_path(@link) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "Your comment...", rows: 6, required: true %>
          </div>
          <div class="form-group">
            <%= f.button "Add", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </header>
  </center>


  <div class="mt-5">
   
    <div style="margin-left: 300px;">
      <% if @comments.present? %>
        
      <% end %>

      <% @comments.each do |comment| %>
        <div class="">
          <p class="m-auto">
           => <strong><%= comment.user.username %></strong>--<%= comment.body %>
            <br>
              <small><%= time_ago_in_words(comment.created_at) %> ago</small>
            
            <% if logged_in? && current_user.owns_comment?(comment) %>
              <span class="edit-comment">
                <%= link_to 'edit', edit_link_comment_path(@link, comment) %>
              </span>
              <span class="delete-comment">
                <%= link_to 'delete', root_path, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            <% end %>
          </p>
          <p></p>
        </div>
      <% end %>
    </div>


    
  </div>
</section>
